/*
	=============================================
		$GENERALS STYLES
	=============================================
*/


html{
	font-size: 16px;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body{
	font-family: $font-family;
	color: $font-color;
}

a{
	text-decoration: none;
	color: $base-color;
	&:hover {
		color: darken($base-color, 10);
		text-decoration: underline;
	}
}

h1,h2,h3,h4,h5,h6 {
	font-family: $font-family;
	font-weight: normal;
	margin-bottom: 0.75rem;
	color: $base-color;
}

h1{	@include fontSize(30);}

h2{	@include fontSize(28);}

h3{	@include fontSize(24);}

h4{	@include fontSize(20);}

h5{	@include fontSize(18);}

h6{	@include fontSize(16);}

p{
	margin-bottom: 1rem;
	font-size: $font-size;
}

article{
	text-align: justify;
}


img{
	max-width: 100%;
	height: auto;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

/*para verificar el item seleccionado del menu*/
li.current-menu-item,.page_item{
	color: $base-color !important;

}

.bg-basecolor{
	background-color:$base-color;
}

.radius {
	border-radius: $radius;
}

.sp-content {
	max-width: $max-width;
	margin:auto;

	.video-container {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;
	}

	.video-container iframe,
	.video-container object,
	.video-container embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	ol,ul {
	   	padding-left: 1rem;
	}

	ul {
	   	text-indent: 2px;
	   	list-style-position: outside;
		li:before {
	    	content: '✔';
	    	font-weight: bold;
	    	margin-right: .75rem;
		}
	}

	blockquote {
		background: lighten($bg-color, 1);
		border-left: 3px solid $base-color;
		font-style: italic;
		padding:.5rem 1rem;
		p{
			margin: 0;
		}
	}
}//END GENERAL STYLES
