



/*---------------------------------------------------------------
	$botones
-----------------------------------------------------------------*/

.button{
	@extend  %button;

    &--plus {
        color: $white;
        display: inline-flex;
        align-items: center;
        padding: .5rem .5rem .5rem 0rem ;
        margin-bottom: 0;
        background: initial;
        font-size: 1rem;

        &:hover {
            color: $base-color;
            text-decoration: none;
            background: initial;
        }

        &:focus {
            outline: none;
            background: initial;
        }

        .icon-plus {
            position: relative;
        }

        .icon-plus:before {
            transition: all .5s;
            display: block;
            margin-right: .75rem;
            content: '+';
            line-height: 32px;
            min-height: auto;
            width: 50px;
            height: 50px;
            font-size: 3rem;
            background: rgba($black, .4);
            position: relative;
            border-radius: 50%;
            text-align: center;
            border: 1px solid rgba($white, .3)
        }

        &:hover .icon-plus:before{
            transform: rotate(180deg);
        }

        &--gray {
            color: $font-color;
            .icon-plus:before{
                color: $white;
            }

            &:focus {
                color: $base-color;
            }
        }//PLUS BUTTON
    }//PLUS BUTTON
}//END BUTTON

